
libs/*
TeamCode/build/*
FtcRobotController/build/*
build/*
local.properties
.idea/codeStyles/Project.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
.gradle/3.5/file-changes/last-build.bin
.gradle/3.5/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/built.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/cache.properties.lock
ftc_app.iml
FtcRobotController/FtcRobotController.iml
TeamCode/TeamCode.iml
